@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
        font-family: 'Fraunces', serif;
}
body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 50%;
}

.container {
    overflow: hidden;
    background-color: white;
    width: 800px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
}

.text {
    margin: 30px;
}

.text span:first-child  {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 15px 0;
    font-size: 50px;
    line-height: 1;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 20px;
    line-height: 1.5;
    margin: 30px 0;
}

span:last-of-type {
    display: block;
    font-size: 40px;
    margin-top: 40px;
    color: hsl(158, 36%, 37%);
    position: relative;
}

span:last-of-type::after {
    content: "$169.99";
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: absolute;
    bottom: 15px;
    right: 65px;
}

button {
    margin-top: 45px;
    width: 300px;
    height: 65px;
    border-radius: 10px;
    border: 0;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

button::before {
    content: "\f07a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}